// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #00262F !default;
$header-bg-color-secondary: #0B3B48 !default;

// Text
$section-headings-color: #F205CB !default;
$body-text-color: #FFF !default;
$body-link-color: #05F2DB !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

$notsmall            : "only screen and (min-width: 48em)";
$comp-color 	     : complement(#222); 
$white               : #fff;
$doc-font-size       : 16;
$doc-line-height     : 26;
$black           	 : #000;